<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" href="/index.css/"/>
  <title>Title</title>
</head>
<body>
<h3>
  <span><a th:href="@{'/'}">Information</a></span>
  <span><a th:href="@{'/trickcentre'}">Trick Centre</a></span>
  <span><a th:href="@{'/nutritionstore'}">Nutrition Store</a></span>
</h3>
<h1 th:text="|I am ${fox.name}.|"></h1>
<h3><img src="/fox.png" width="220px" height="300px"/></h3>
<p th:text="|Currently living on ${fox.food} and ${fox.drink}. I know ${fox.listOfTricks.size() + fox.advancedTricks.size()} tricks.|"></p>
<h1>Known tricks</h1>
<h2>Basic tricks</h2>
<ol>
  <p th:if="${fox.listOfTricks.size()} == 0"
     th:text="|I know zero tricks. Please, teach some!|"></p>
  <li th:each="trickElement : ${fox.listOfTricks}" th:text="${trickElement}"></li>
</ol>
<h2>Advanced tricks</h2>
<ul>
  <p th:if="${fox.advancedTricks.size()} == 0">
    <a th:href="@{'/trickcentre'}">Advanced Trick Centre</a></p>
  <li th:each="trickElement : ${fox.advancedTricks}" th:text="${trickElement}"></li>
</ul>
</body>
</html>