<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" href="/index.css/"/>
  <title>Title</title>
</head>
<body>
<h3>
  <span><a th:href="@{'/'}">Information</a></span>
  <span><a th:href="@{'/trickcentre'}">Trick Centre</a></span>
  <span><a th:href="@{'/nutritionstore'}">Nutrition Store</a></span>
</h3>
<h3><img src="/eat.png" width="320px" height="400px"/></h3>
<h2>Please Feed Me! I am so hungry!</h2>
<table>
  <form action="/change-nutrition">
    <tr>
      <th>Food</th>
      <th>Drink</th>
    </tr>
    <tr>
      <td><input type="list" name="food"/></td>
      <td><input type="list" name="drink"/></td>
      <td><input type="submit" value="Change"/></td>
    </tr>
  </form>
</table>
</body>
</html>