<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>body{background-color: cornsilk}</style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Title</title>
</head>
<body>
<ul>
  <li><a th:href="@{'/'}">Information</a></li>
  <li><a th:href="@{'/trickcentre'}">Trick Centre</a></li>
  <li><a th:href="@{'/nutritionstore'}">Nutrition Store</a></li>
</ul>
<img src="/learning.gif" width="220px" height="300px"/>
<h2>I am ready commander. Teach Me! </h2>
<table>
  <form action="/change-trick">
    <tr>
      <th>Tricks</th>
    </tr>
    <tr>
      <td>
        <select name="addTrick">
          <option th:each="trick : ${listOfTricks}"
                  th:value="${trick}"
                  th:text="${trick}">
          </option>
        </select>
      </td>
      <td><input type="submit" value="Learn"/></td>
    </tr>
  </form>
</table>
</body>
</html>