<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" href="/index.css/"/>
  <title>Title</title>
</head>
<body>
<h3>
  <span><a th:href="@{'/'}">Information</a></span>
  <span><a th:href="@{'/trickcentre'}">Trick Centre</a></span>
  <span><a th:href="@{'/nutritionstore'}">Nutrition Store</a></span>
</h3>
<h3><img src="/trick.png" width="320px" height="400px"/></h3>
<h3>I am ready commander. Teach Me! </h3>
<table>
  <th:block th:if="${listOfTricks.size() != 0}">
  <form action="/change-trick">
    <tr>
      <th>Tricks</th>
    </tr>
    <tr >
      <td>
        <select name="addTrick">
          <option th:each="trick : ${listOfTricks}"
                  th:value="${trick}"
                  th:text="${trick}">
          </option>
        </select>
      </td>
      <td><input type="submit" value="Learn"/></td>
    </tr>
  </form>
  </th:block>
  <th:block th:if="${listOfTricks.size() == 0}">
    <tr>
      <td>
        You can't learn new tricks. You already know everything!
      </td>
    </tr>
  </th:block>
</table>
</body>
</html>