<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<form action="/submit">
  <input type="text" name="name"/>
  <input type="text" name="balance"/>
  <input type="text" name="animalType"/>
  <input type="text" name="King"/>
  <input type="text" name="GoodGuy"/>
  <input type="submit" value="submit"/>
</form>
<table>
  <!--/*@thymesVar id="bankAccounts" type="java.util.List<com.greenfoxacademy.Model.BankAccount>"*/-->
  <tr th:each="bankAccount : ${bankAccounts}" th:style="${bankAccount.isKing()}? 'color:red; font-weight:bold;' : ''">
    <td th:text="${bankAccountStat.count} + ') '"></td>
    <td th:text="${bankAccount.getName()}"></td>
    <td th:text="${#numbers.formatDecimal(bankAccount.getBalance(),0,2)}"></td>
    <td th:text="${bankAccount.getAnimalType()}"></td>
    <td th:text="${bankAccount.isKing()}? 'King' : 'Peasant' "></td>
    <td th:text="${bankAccount.isGoodGuy()}? 'Good Guy' : 'Bad Guy' "></td>
    <td> <a th:href="${'/hit?id=' + bankAccountStat.index}">+10</a></td>
  </tr>
</table>
<p></p>
</body>
</html>